body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s; /* ใส่ Transition ให้นุ่มนวล */
}

button {
    padding: 15px 30px;  /*ระยะห่างขอบบน และ ระยะห่างขอลข้าง*/
    font-size: 20px;
    cursor: pointer; /*เปลี่ยนรูปร่างของเมาส์*/
    background-color: #f0f0f0;
    border: 2px solid #333;
    border-radius: 5px; /*ลบมุม*/
    transition: transform 0.1s; /* ใส่ Transition ให้นุ่มนวล */
}

button:active {
    transform: translateY(2px);
    background-color: #e0e0e0;
}