html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
}

.cell-1 {
    background-color: #90EE90; 
}

.cell-2 {
    background-color: #FFB6C1; 
}